openapi: 3.2.0
info:
  title: HawkSoft Partner Receipts API
  version: '3.0'
  description: HawkSoft Partner API for insurance agency management.
  contact:
    name: HawkSoft Partner Program
    email: opportunities@hawksoft.com
    url: https://partner.hawksoft.app/
  termsOfService: https://www.hawksoft.com/terms/api/
servers:
- url: https://integration.hawksoft.app
  description: HawkSoft Partner API integration host
security:
- basicAuth: []
tags:
- name: Receipts
  description: Payment receipts on client records
paths:
  /vendor/agency/{agencyId}/client/{clientId}/receipts:
    post:
      operationId: postReceipt
      summary: Post a payment receipt to a client (write-back, V3.0)
      tags:
      - Receipts
      parameters:
      - $ref: '#/components/parameters/AgencyId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Receipt'
      responses:
        '201':
          description: Receipt created
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    AgencyId:
      name: agencyId
      in: path
      required: true
      description: HawkSoft agency identifier.
      schema:
        type: string
    Version:
      name: version
      in: query
      required: true
      description: API version; use 3.0 for the V3.0 surface.
      schema:
        type: string
        default: '3.0'
    ClientId:
      name: clientId
      in: path
      required: true
      description: HawkSoft client identifier.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid partner credentials.
  schemas:
    Receipt:
      type: object
      properties:
        amount:
          type: number
        method:
          type: string
        reference:
          type: string
        timestamp:
          type: string
          format: date-time
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with partner-issued credentials.
