openapi: 3.2.0
info:
  title: HawkSoft Partner Log Entries API
  version: '3.0'
  description: HawkSoft Partner API for insurance agency management.
  contact:
    name: HawkSoft Partner Program
    email: opportunities@hawksoft.com
    url: https://partner.hawksoft.app/
  termsOfService: https://www.hawksoft.com/terms/api/
servers:
- url: https://integration.hawksoft.app
  description: HawkSoft Partner API integration host
security:
- basicAuth: []
tags:
- name: Log Entries
  description: Write-back activity log notes
paths:
  /vendor/agency/{agencyId}/client/{clientId}/log:
    post:
      operationId: postLogNote
      summary: Post a log note to a client (write-back)
      description: Append an activity log note to a client's timeline. Core of HawkSoft's 2-way integration; available to partners using write-back.
      tags:
      - Log Entries
      parameters:
      - $ref: '#/components/parameters/AgencyId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogNote'
      responses:
        '201':
          description: Log note created
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    AgencyId:
      name: agencyId
      in: path
      required: true
      description: HawkSoft agency identifier.
      schema:
        type: string
    Version:
      name: version
      in: query
      required: true
      description: API version; use 3.0 for the V3.0 surface.
      schema:
        type: string
        default: '3.0'
    ClientId:
      name: clientId
      in: path
      required: true
      description: HawkSoft client identifier.
      schema:
        type: string
  schemas:
    LogNote:
      type: object
      required:
      - description
      properties:
        action:
          type: string
        description:
          type: string
        timestamp:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid partner credentials.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with partner-issued credentials.
