openapi: 3.2.0
info:
  title: HawkSoft Partner Attachments API
  version: '3.0'
  description: HawkSoft Partner API for insurance agency management.
  contact:
    name: HawkSoft Partner Program
    email: opportunities@hawksoft.com
    url: https://partner.hawksoft.app/
  termsOfService: https://www.hawksoft.com/terms/api/
servers:
- url: https://integration.hawksoft.app
  description: HawkSoft Partner API integration host
security:
- basicAuth: []
tags:
- name: Attachments
  description: File attachments on client records
paths:
  /vendor/agency/{agencyId}/client/{clientId}/attachment:
    post:
      operationId: postAttachment
      summary: Post a file attachment to a client (write-back)
      tags:
      - Attachments
      parameters:
      - $ref: '#/components/parameters/AgencyId'
      - $ref: '#/components/parameters/ClientId'
      - $ref: '#/components/parameters/Version'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Attachment'
      responses:
        '201':
          description: Attachment created
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    AgencyId:
      name: agencyId
      in: path
      required: true
      description: HawkSoft agency identifier.
      schema:
        type: string
    Version:
      name: version
      in: query
      required: true
      description: API version; use 3.0 for the V3.0 surface.
      schema:
        type: string
        default: '3.0'
    ClientId:
      name: clientId
      in: path
      required: true
      description: HawkSoft client identifier.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid partner credentials.
  schemas:
    Attachment:
      type: object
      properties:
        fileName:
          type: string
        contentType:
          type: string
        file:
          type: string
          format: binary
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with partner-issued credentials.
